extends layout

block content
  h1= title
  p Admin 계정의 암호를 입력하세요.
  p
  form( method= "post")
    div
      div
         span 암호 입력 :
         input(type="password", name="password")
      div
         input(type="submit", value="로그인")